@import "variables";

$primaryBg: #03132e;
$accent: #31fef9;
$gradientLinear: linear-gradient(180deg, #37aee1, #197f7d);
$darkGradientLinear1: linear-gradient(337deg, #03132e, #071b3c);
$darkGradientLinear2: linear-gradient(343deg, #000b1d, #03132e);
$matchesLinearGradient: linear-gradient(351deg, #03132e, #071b3c);
$rewardLinearGradient: linear-gradient(180deg, #071b3c, #03132e);

$drawerGradient: linear-gradient(180deg, #37aee1, #197f7d);
$darkBorder: #28374e;
$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

* {
  font-family: "selawk light", sans-serif !important;
}

.v-content__wrap {
  background-color: $primaryBg;
}

html {
  background-color: $primaryBg;
}

.home {
  margin-bottom: 50px;
}

.fill-top-margin {
  background-color: $primaryBg;
  width: 100vw;
  margin-top: -80px;
}

.fill-main {
  margin-top: 80px;
}

.custom-max-width {
  max-width: 1200px;
}

.dark-gradient-bg {
  background-image: $darkGradientLinear1;
}

.dark-gradient-bg2 {
  background-image: $darkGradientLinear2;
}

//buttons
.gradient-button {
  background-image: $gradientLinear;
  border: 0.5px solid $accent;
}

.gradient-blue-green {
  background-image: $gradientLinear;
}

.submit-btn {
  height: 80px !important;
}

.button-radius {
  border-radius: 15px 0px;
}

.button-radius-2x {
  border-radius: 30px 0px;
}

.round-corner {
  border-radius: 30px !important;
}

.button-text-left {
  position: absolute;
  left: 0;
  font-size: 20px;
}

.header-button-mobile {
  width: 80%;
  margin-top: -25px;
}

.prize-amount-icon {
  background-color: #ffbf00;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.coin-asset-icon {
  background-color: $accent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.border-for-dark {
  border: 2px solid $darkBorder !important;
}

.border-for-dark-divider {
  border-top: 1px solid $darkBorder !important;
}

.matches-linear-gradient {
  background-image: $matchesLinearGradient;
}

//scrollbar

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #28374e;

  //remove scrollbar of input
  /* Chrome, Safari, Edge, Opera */
}

// dialog

.border-dialog {
  border-radius: 30px !important;
  background-color: #03132e !important;
}

.dialog-title {
  background-color: #000618 !important;
  height: 80px;
  display: flex;
  padding: 10px 10px 10px 50px !important;
  justify-content: space-between;
}

.dialog-content {
  padding: 30px !important;
  font-size: 16px;
  // overflow: hidden;
  // overflow-y: scroll;
}

//reward

.reward-linear-gradient {
  background-image: $rewardLinearGradient;
}

//drawer

.drawer-style {
  position: relative;
  margin-top: 95px;
  border-radius: 30px 30px 0px 0px !important;
  background-image: $drawerGradient !important;
}

.list {
  border: 1px solid #31fef9;
}
